<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.monoandroid.fabric.demo.digitsdemo">
	<uses-sdk android:minSdkVersion="16" />
	<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name">
		<meta-data
            android:name="io.fabric.ApiKey"
            android:value="{insert fabric.io api key here}" />          
	</application>
</manifest>
